PROJECT=project_name

DB_USER=user
DB_PASS=password
DB_HOST=localhost
DB_PORT=3316
DB_NAME=core

ENGINE=mysql

TABLE_PREFIX=core_

RABBIT_HOST=localhost
RABBIT_PORT=5672
RABBIT_USER=guest
RABBIT_PASS=guest
